<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12">
            <a href="#" class="btn btn-back"><i class="fas fa-chevron-left"></i></a>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-12 text-center text-white">
            <h3>{{ movieTitle }}</h3>
        </div>
    </div>
    <div class="row mt-3 text-white">
        <div class="col-sm-12 text-center">
            <img src="{{ posterUrl }}" alt="Movie Poster">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 text-light">
            <p> {{ overview }}</p>
            <p>Release Date: {{ releaseDate | date:'fullDate' }}</p>
            <p>Budget: {{ budget | currency:'USD':'symbol' }}</p>
            <p>Revenue: {{ revenue | currency:'USD':'symbol' }}</p>
            <ngb-rating class="star" [(rate)]="vote" [readonly]=true></ngb-rating>
            <p>Rate: <b>{{vote}}</b></p>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>