<div class="row">
        <div class="col-sm-4">
                <div *ngFor="let movie of moviesList; let i = index;">
                        <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary movie-list"
                                        [class.active-li]="selectedIndex === i"
                                        (click)="details.loadMovieDetails(movie.id);listHasData();setIndex(i)">
                                        {{ movie.title }}
                                        <i [ngClass]="selectedIndex === i ? 'fas fa-angle-right' : 'fas fa-angle-down'"
                                                class="float-right"></i>
                                </li>
                        </ul>
                </div>
        </div>
        <div class="col-sm-8">
                <app-movie-details [dataStatus]="movieListHasData" #details></app-movie-details>
        </div>
</div>