/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background-color:  #7b8187;
    overflow-x: hidden;
}

.movie-list{
cursor: pointer;
}
.movie-list:hover{
background: #e8eaed;
}
.star{
    color:yellow;
}
.active-li{
    background: #e8eaed;
}


.card{
    z-index: 1;
    border-radius: unset;
    border: 0;
    transition: 0.4s;
}
.card > wrapper {
      padding: 0;
      box-shadow: 0 10px 60px 0 rgba(0,0,0,0.2);
    }
.card:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 40px 0 rgba(0,0,0,0.4);
      z-index: 2;
    }
  
.card > -text{
      color: #FEA200;
      font-weight: 500;
    }
    

  
